.articleHeader,
.articleHeaderGit,
.articleHeaderJS {

    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    background-color: blue;
    width: 90%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.articleHeaderGit {
    background-color: red;
}

.articleHeaderGit:hover {
    cursor: pointer;
    color: black;
}

.articleHeaderJS {
    background-color: yellow;
    color: black;
}

.articleContent,
.articleContentGit {

    font-size: 22px;
    color: black;
    width: 90%;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.articleContentGit {
    background-color: rgba(255, 0, 0, 0.5);
    color: whitesmoke;
}



.boxArticleCsharp,
.boxArticleJs,
.boxBoxArticleGit {
    position: absolute;
    text-align: center;
    border-radius: 10%;
    left: 5%;
    width: 18%;
    font-size: 1.5vw;
    padding: 40px 0px 40px 0px;
    display: inline-block;
    vertical-align: middle;
    border: 5px double black;
}

.boxArticleCsharp {
    top: 10%;
    color: #ffffff;
    background-color: blue;
}

.boxArticleCsharp:nth-of-type(2) {
    left: 30%
}

.boxArticleCsharp:nth-of-type(3) {
    left: 55%
}

.boxArticleCsharp:nth-of-type(4) {
    left: 80%
}

.boxBoxArticleGit {
    color: #ffffff;
    background-color: red;

}

.boxBoxArticleJs {
    color: black;
    background-color: yellow;
}



@media (orientation: portrait) {


    .articleHeaderJS {
        top: 10vw;
        background-color: yellow;
        color: black;
    }

    .boxArticleCsharp {
        left: 5%;
        width: 40vw;
        height: 40vw;
        top: 6%;
        color: #ffffff;
        background-color: blue;
        padding: 10% 5%;
        font-size: 5.5vw;
    }

    .boxArticleCsharp:nth-of-type(2) {
        top: 6%;
        left: 50%;

    }

    .boxArticleCsharp:nth-of-type(3) {
        top: 60vw;
        left: 5%;
    }

    .boxArticleCsharp:nth-of-type(4) {
        top: 60vw;
        left: 50%;
    }


}